/* SMACSS - https://smacss.com/book
 ------------------------------------------------------------------ */

 /*Base
 ------------------------------------------------------------------ */
html, body {
    margin:0;
    padding:0;
    height:100%;
    overflow-x: hidden;
}
body {
    font-family: 'Cabin', sans-serif;   
}

.calculator-title {
    margin-top:50px;
}
h1, p {
    text-align:center;
    line-height:-3px;
}


/* Extra small devices (portrait phones, less than 576px)*/

/*Base
 ------------------------------------------------------------------ */
@media (max-width: 575.98px) {
    body{
    background-color:red; 
    }

/*Layout
------------------------------------------------------------------ */

/*Form
------------------------------------------------------------------ */

    .calculator {
        margin-top:60px;
        width:300px;
        height:455px;
        border: 1px solid #000;
        margin:0 auto;
        background-color:#000;
         
    }

    input {
        border: 2px solid #000;
        height:90px;
        margin:0 auto; 
        background-color:#000;
        
    }

    /*.display-calculator {
        border: 2px solid #000;
        width:290px;
        height:90px;
        margin:0 auto; 
        background-color:#000; 
        color:#fff;
        

    }*/

    .display-zero {
        float:right;
        margin-right:7px;
        font-size:60px; 
        color:#fff;
        
    }
/*Buttons
------------------------------------------------------------------ */
    .button-calculator, .calculator-button{
       margin-left:7px;
       display:inline-block;
       
    
    }

    .ac, .soustrandplus, .pourcentage, .division {
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        background-color:rgb(134, 133, 133);
    }
    .four, .five, .six, .soustraction{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        
    }

    .seven, .eight, .nine, .multiplication{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        
    }

    .one, .two, .three, .plus{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        
    }

    .decimal, .equal{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        
    }

    .zero{
        border:2px solid #000;
        width:144px;
        height:72px;
        margin-left:-3px;
        
        
    }

    
    
    
}

/* Small devices (landscape phones, 576px and up)*/
/*Base
 ------------------------------------------------------------------ */
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        background-color:blue; 
    }

/*Layout
------------------------------------------------------------------ */

/*Form
------------------------------------------------------------------ */
    
    .calculator {
        margin-top:60px;
        width:300px;
        height:455px;
        border: 1px solid #000;
        margin:0 auto;
        background-color:#000;
         
    }   

    .display-calculator {
        border: 2px solid #000;
        width:290px;
        height:90px;
        margin:0 auto; 
        background-color:#000; 
        color:#fff;
        

    }

    .display-zero {
        float:right;
        margin-right:7px;
        font-size:60px; 
        
    }


/*Buttons
------------------------------------------------------------------ */

    .button-calculator, .calculator-button{
       margin-left:7px;
       display:inline-block;
       
    }

    .ac, .soustrandplus, .pourcentage, .division {
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        background-color:rgb(134, 133, 133);
    }
    .four, .five, .six, .soustraction{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
       
    }

    .seven, .eight, .nine, .multiplication{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;  
    }

    .one, .two, .three, .plus{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;   
    }

    .decimal, .equal{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .zero{
        border:2px solid #000;
        width:144px;
        height:72px;
        margin-left:-3px;
        
    }
    
}

/* Medium devices (tablets, 768px and up)*/
/*Base
 ------------------------------------------------------------------ */
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        background-color:pink; 
    }

/*Layout
------------------------------------------------------------------ */

/*Form
------------------------------------------------------------------ */

    .calculator {
        margin-top:60px;
        width:300px;
        height:455px;
        border: 1px solid #000;
        margin:0 auto;
        background-color:#000;
         
    }   

    .display-calculator {
        border: 2px solid #000;
        width:290px;
        height:90px;
        margin:0 auto; 
        background-color:#000; 
        color:#fff;
        

    }

    .display-zero {
        float:right;
        margin-right:7px;
        font-size:60px; 
        
    }

/*Buttons
------------------------------------------------------------------ */

    .button-calculator, .calculator-button{
       margin-left:7px;
       display:inline-block;
       
    
    }

    .ac, .soustrandplus, .pourcentage, .division {
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        background-color:rgb(134, 133, 133);
    }
    .four, .five, .six, .soustraction{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        
    }

    .seven, .eight, .nine, .multiplication{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        
    }

    .one, .two, .three, .plus{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
       
    }

    .decimal, .equal{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        
    }

    .zero{
        border:2px solid #000;
        width:145px;
        height:72px;
        margin-left:-3px;
    
        
    }
    
}

/* Large devices (desktops, 992px and up)*/
/*Base
 ------------------------------------------------------------------ */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        background-color:yellow; 
    }

/*Layout
------------------------------------------------------------------ */

/*Form
------------------------------------------------------------------ */
    .calculator {
        margin-top:60px;
        width:300px;
        height:455px;
        border: 1px solid #000;
        margin:0 auto;
        background-color:#000;
         
    }   

    .display-calculator {
        border: 2px solid #000;
        width:290px;
        height:90px;
        margin:0 auto; 
        background-color:#000; 
        color:#fff;
        

    }

    .display-zero {
        float:right;
        margin-right:7px;
        font-size:60px; 
        
    }
/*Buttons
------------------------------------------------------------------ */

    .button-calculator, .calculator-button{
       margin-left:7px;
       display:inline-block;
       
    
    }

    .ac, .soustrandplus, .pourcentage, .division {
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        background-color:rgb(134, 133, 133);
    }
    .four, .five, .six, .soustraction{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .seven, .eight, .nine, .multiplication{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .one, .two, .three, .plus{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .decimal, .equal{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .zero{
        border:2px solid #000;
        width:145px;
        height:72px;
        margin-left:-3px;    
    }


}

/* Extra large devices (large desktops, 1200px and up)*/

/*Base
------------------------------------------------------------------ */
@media (min-width: 1200px) { 
    body {
        background-color:green;
    }

/*Layout
------------------------------------------------------------------ */

/*Form
------------------------------------------------------------------ */

    .calculator {
        margin-top:60px;
        width:300px;
        height:455px;
        border: 1px solid #000;
        margin:0 auto;
        background-color:#000;
         
    }  

    /*.display-calculator {
        border: 2px solid #000;
        width:280px;
        height:90px;
        margin:0 auto; 
        background-color:#000; 
        color:#fff;
    
    }*/

    /*input {
        border: 2px solid #000;
        width:280px;
        height:90px;
        margin:0 auto;
        background-color:#000;
        /*color:#fff;
        
    }*/

    /*.result {
        border: 2px solid #000;
        width:280px;
        height:90px;
        margin:0 auto;
        background-color:#000;
        
    }

    .result #results {
        color:#fff;
    }*/


    
    .display-zero {
        border: 2px solid #000;
        width:280px;
        height:90px;
        margin:0 auto;
        background-color:#000;
        float:right;
        margin-right:7px;
        font-size:60px; 
        color:#fff;
        
    }
    

/*Buttons
------------------------------------------------------------------ */
    .button-calculator, .calculator-button{
       margin-left:7px;
       display:inline-block;
       
    
    }

    .ac, .soustrandplus, .pourcentage, .division {
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
        background-color:rgb(134, 133, 133);
    }
    .four, .five, .six, .soustraction{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .seven, .eight, .nine, .multiplication{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .one, .two, .three, .plus{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
       
    }

    .decimal, .equal{
        border:2px solid #000;
        width:72px;
        height:72px;
        margin-left:-3px;
    }

    .zero{
        border:2px solid #000;
        width:145px;
        height:72px;
        margin-left:-3px;
        
        
    }

     
}